# Ganesh Bhandarkar 1806554 (T&T lab) Test

In [43]:
import collections
with open("wordanagram.txt", "r") as file: 
    allopt = file.read()
    choices = list(map(str, allopt.split()))
r = []
m = len(choices)
for i in choices:
    res = ''.join(sorted(i))
    r.append(res)
    res = ''
y = set(r)
n = len(y)
occurrences = collections.Counter(r)
print(occurrences)
print("no of anagrams",": ",m-n)

Counter({'cenorstu': 8, 'adel': 8, 'aclps': 6, 'cdeo': 6, 'acdeerrt': 6, 'celru': 6, 'ceorst': 5, 'eemrst': 2, 'imnsu': 1, 'eimntu': 1, 'eimnstu': 1, 'aceilmr': 1, 'imorrr': 1, 'imorrrs': 1, 'cims': 1, 'aceeillmnossu': 1, 'imss': 1, 'deimss': 1, 'eiilmss': 1, 'giimnss': 1, 'iimnoss': 1, 'iimnosss': 1, 'iiiimppssss': 1, 'iimorssu': 1, 'aeikmst': 1, 'aeikmsst': 1, 'eimrssst': 1, 'ae': 1, 'aaeilr': 1, 'aaceeoprs': 1, 'af': 1, 'aaffir': 1, 'aaffirs': 1, 'acefft': 1, 'acdeefft': 1, 'aceffgint': 1, 'aceffst': 1, 'aaeffiilt': 1, 'aadeffiilt': 1, 'aaeffiilst': 1, 'aaffiiilnot': 1, 'adffor': 1, 'aabdefflor': 1, 'aaafghinnst': 1, 'aadfir': 1, 'aacfir': 1, 'aacfinr': 1, 'aefrt': 1, 'aefnnoort': 1, 'aadefrrstw': 1, 'ag': 1, 'aagin': 1, 'aaginst': 1, 'aeg': 1, 'aceil': 1, 'aeiln': 1, 'agiln': 1, 'aegilmnnt': 1, 'aeikl': 1, 'aeilv': 1, 'all': 1, 'aahll': 1, 'aalln': 1, 'adeegll': 1, 'aelln': 1, 'aegllry': 1, 'aaceilln': 1, 'adeill': 1, 'aacdellot': 1, 'aacillnoot': 1, 'allow': 1, 'aacellnow': 1, 'adellow': 1, 'agillnow': 1, 'allosw': 1, 'abceelloorssttuy': 1, 'abinooprst': 1, 'aabcrstt': 1, 'aabcrsstt': 1, 'abu': 1, 'abesu': 1, 'ac': 1, 'aaccdeim': 1, 'aaccdeims': 1, 'aacdemy': 1, 'acc': 1, 'accent': 1, 'accept': 1, 'aabcceelpt': 1, 'aaccceenpt': 1, 'accdeept': 1, 'acceginpt': 1, 'accepst': 1, 'access': 1, 'accdeess': 1, 'abcceiiilssty': 1, 'abcceeilss': 1, 'acceginss': 1, 'acceeiorsss': 1, 'acceorssy': 1, 'accdeint': 1, 'accdeinst': 1, 'aaccdemmoot': 1, 'aaccdimmnooot': 1, 'aaccdimmnooost': 1, 'aaccdeimnop': 1, 'aaccgimnnopy': 1, 'acchilmops': 1, 'accdehilmops': 1, 'aacccdenor': 1, 'accdginor': 1, 'accdgilnory': 1, 'accnotu': 1, 'aabcciilnottuy': 1, 'accginnotu': 1, 'accnostu': 1, 'aaccdeiinortt': 1, 'accddeeirt': 1, 'aacccruy': 1, 'aaccertu': 1, 'aaccelrtuy': 1, 'accdesu': 1, 'abcdeintty': 1, 'ace': 1, 'acer': 1, 'aceehiv': 1, 'acdeehiv': 1, 'aceeehimntv': 1, 'aceeehimnstv': 1, 'aceghiinv': 1, 'acdi': 1, 'acdis': 1, 'acdeegklnow': 1, 'acddeegklnow': 1, 'acm': 1, 'acen': 1, 'aceillmt': 1, 'aaceillmt': 1, 'aelmst': 1, 'eemrt': 1, 'dehmot': 1, 'deghlmoooty': 1, 'dehmost': 1, 'ceimrt': 1, 'emort': 1, 'aeilmnooprtt': 1, 'aceimnx': 1, 'ceimox': 1, 'eemry': 1})
no of anagrams :  39

# 2

In [45]:
# x = ["ram","sham","cool","folo","empty","hut"]
# words = ["ram"]
# y = list(lambda x: [' '.join(w for w in x.split() if w not in words)])
# print(y)
#x = lambda x: [x for x in x if x not in ["name", "is", "m"]]

In [35]:
def isSortedlist(nums, k=lambda x: x):
    for i, e in enumerate(nums[1:]):
        if k(e) < k(nums[i]): 
            return False
    return True
n1 = [1,2,4,6,8,10,12,14,16,17]
print(n1)
print(isSortedlist(n1))

[1, 2, 4, 6, 8, 10, 12, 14, 16, 17]
True

In [2]:
import numpy as np 
import pandas as pd

In [10]:
df = pd.read_csv('TestData.csv')

In [11]:
df.head()

   13.72  69.46  41.06  36.37
0  79.95  63.85  17.47  11.01
1  69.68  51.93  77.23  98.66
2  54.54  40.59  66.21  76.07
3  18.29  27.84  84.67  68.34
4  69.92  93.72  72.21  88.19

In [14]:
import pandas as pd
import numpy as np
df = pd.read_csv('TestData.csv', names=['a', 'b', 'c', 'd'])
df['x'] = np.sqrt(df['a']*2 + df['b']*2)
df['y'] = df['a'] + df['b'] + df['c'] + df['d']
df['y'] = df['y'].mean()
df.drop(['a', 'b', 'c', 'd'], axis=1, inplace=True)
df

            x         y
0   12.898062  196.8358
1   16.958774  196.8358
2   15.595512  196.8358
3   13.793477  196.8358
4    9.605207  196.8358
5   18.090882  196.8358
6   14.379152  196.8358
7   13.379836  196.8358
8   13.569819  196.8358
9   16.919220  196.8358
10  11.343721  196.8358
11  11.892855  196.8358
12  13.278554  196.8358
13  12.328017  196.8358
14  12.805468  196.8358
15  12.073111  196.8358
16  12.807029  196.8358
17  13.760814  196.8358
18  10.183320  196.8358
19  13.758634  196.8358
20  13.802174  196.8358
21  15.691399  196.8358
22  19.060430  196.8358
23  15.264993  196.8358
24  17.016463  196.8358
25  12.905038  196.8358
26  11.372775  196.8358
27  15.607050  196.8358
28  13.635248  196.8358
29  10.558409  196.8358
30  16.236379  196.8358
31  15.598718  196.8358
32   7.299315  196.8358
33  13.724431  196.8358
34  12.854571  196.8358
35  12.959938  196.8358
36  11.424535  196.8358
37  19.676382  196.8358
38  13.802898  196.8358
39  18.229646  196.8358
40  13.974262  196.8358
41  15.005999  196.8358
42  15.190787  196.8358
43  17.424695  196.8358
44   9.778548  196.8358
45  17.299711  196.8358
46   6.896376  196.8358
47  13.518136  196.8358
48  11.811858  196.8358
49  12.083046  196.8358